{%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
      <li>
        <span>{{- post.date | date: "%Y %b %d" -}}</span>
        <a href="{{ post.url | relative_url }}">
          {%- if post.has_image -%}
            {% include icons/images-solid-full.svg %}
          {%- endif -%}
          {{ post.title | downcase }}
        </a>
      </li>
    {%- endfor -%}
    <li>
      <span>{{- "2017-01-01" | date: "%Y %b %d" -}}</span>
      <span style="border-left-style:dashed;"><em>started working as a web developer</em></span>
    </li>
  </ul>
{%- endif -%}
