@import "tailwindcss";

@theme inline {
  --font-body: var(--font-inter);
  --font-heading: var(--font-markazi-text);
  --default-font-family: var(--font-body);
}

img {
  pointer-events: none;
  user-select: none;
}
