<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {%- include head.liquid -%}
  <body class="layout-{{ page.layout | default: "default" }}">
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content }}
      </div>
    </main>
  </body>
</html>
