---
layout: default
---
<header>
  <div>
    <img src="{{ site.baseurl }}/assets/images/Michelle-Blanchette.jpg" alt="" />
  </div>
  <div>
    <h1>{{ site.title }}</h1>
    <p style="margin:0;font-family:monospace;font-size:0.8em;">
      <a href="https://github.com/MichelleBlanchette">github</a>
      <span>//</span>
      <a href="https://www.linkedin.com/in/michelle-blanchette/">linkedin</a>
      <span>//</span>
      <a href="mailto:mblan.dev@gmail.com">email</a>
    </p>
    <p>logging some of the solutions I&rsquo;ve delivered as a full&#8209;stack web developer</p>
  </div>
</header>

{% include post_list.liquid -%}

{{ content }}
