---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</header>

{% include post_list.liquid -%}

{{ content }}

<div>
  <hr />
  <p style="text-align: center">
    <a href="https://github.com/MichelleBlanchette">github</a>
  </p>
</div>
